.root {
    /* width: 900px;
   height: 600px; */
    height: 100%;
    width: 100%;
    background-color: #000000;

    display: flex;
    flex-direction: column;

    font-size: 30px;
    /* background-color: red; */
}

.buttonRow {
    width: 100%;
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
}

.inner {
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

.top {
    /* background-color: lightblue; */
    margin-top: -50px;
    width: 100%;
    padding: 0px 4 0px;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pageNumber {
    margin: auto;
    font-size: 0.8em;
    /* background-color: lightcoral; */
    flex-grow: 1;
    padding-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 12px;
    margin: auto;
    /* background-color: lightgray; */
    flex-grow: 1;
    /* */
    padding-bottom: 20px;
}

.descriptionContainer {
    position: relative;
    width: 100%;

    margin: auto;
    /* background-color: lightseagreen; */
    flex-grow: 3;
    transition: opacity 220ms ease-in-out;
    opacity: 0;
    margin-bottom: 20px;
}

.description {
    position: absolute;
    top: 0;
    font-size: 1em;
    line-height: 1.14em;
    padding: 0px 20px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 80%;
    max-width: 750px;
}

.description > sup,
.footer > sup {
    position: relative;
    top: 0.18em;
    left: 0px;
    line-height: 0px;
}

.bottom {
    /* background-color: lightgreen; */

    flex-grow: 3;

    /* height: 50%; */
}

.bottomInner {
    width: 100%;
    height: 100%;
    max-height: 100%;
    flex-grow: 0;
    display: flex;
    /* background-color: blue; */
}

.imageContainer {
    /* width: 100%;
   height: 90%; */
    max-height: min(450px, 100%);
    max-width: min(700px, 100%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    transition: opacity 220ms ease-in-out;
    opacity: 0;

    /* background-color: lightcoral; */
}

.imageContainer img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top;
}

@media (max-height: 800px) {
    .bottom {
        flex-grow: 1;
        max-height: 50%;
    }
    .imageContainer {
        max-width: min(500px, 100%);
    }
}

@media (max-height: 580px) {
    .root {
        font-size: 25px;
    }

    .bottom {
        flex-grow: 5;
        max-height: 60%;
    }
}

@media (max-width: 480px) {
    .root {
        font-size: 25px;
    }
    .top {
        flex-grow: 0;
        margin-top: 5px;
    }

    .buttonRow {
        padding: 10px 10px 0px 10px;
    }

    .pageNumber {
        padding-bottom: 6px;
    }

    .title {
        font-size: 1.1em;
        padding-bottom: 12px;
    }

    .description {
        font-size: 0.65em;
        padding: 0px 10px;
    }

    .imageContainer {
        max-width: 90%;
    }
}

.footer {
    position: absolute;

    font-size: 16px;

    text-align: center;
    width: 100%;
    max-width: 690px;
    padding: 0px 24px;
    bottom: 12px;
    left: 50%;
    box-sizing: border-box;
    transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
    .footer {
        font-size: 12px;
        bottom: 8px;
    }
}

@media screen and (max-height: 480px) {
    .description {
        font-size: 16px;
    }
    .imageContainer {
        max-width: 300px;
    }
}
