.container {
   position: relative;
   background-color: #282828;
   color: inherit; /* Inherits the text color from its parent */
   border: 3px solid black;
   border-radius: 8px;
   padding: 0; /* Removes padding */
   margin: 0; /* Removes margin */

   cursor: pointer; /* Keeps the cursor as pointer to signify it's clickable */
   outline: none; /* Inherits the outline style (useful for accessibility) */
   box-sizing: border-box;
   pointer-events: auto;
}

.container:hover {
   filter: brightness(120%);
}

.darkshade {
   top: 50%;
   left: 0px;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.2);
   height: 50%;
   width: 100%;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
   z-index: 0;
}

.inner {
   display: flex;
   position: relative;
   z-index: 1;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
}

.inner img {
   width: 50px;
   height: 50px;
}

.inner span {
   display: block;

   margin-left: 15px;
   margin-right: 15px;
   font-family: "Roboto Slab", serif;
   font-weight: 700;
   color: var(--text-color-dark);
   font-size: inherit;
}
