.root {
   font-family: "Roboto Condensed";
   padding-left: 14px;
   padding-right: 14px;
}

.row {
   display: flex;
   margin-bottom: 20px;
}

.honeyWrapper {
   max-width: 100px;
   margin: auto;
   width: 25%;
}
