:global(.hex-shine) {
   opacity: 0.6;
}

.root {
   pointer-events: none;
   font-family: "Roboto Slab", serif;
   font-weight: 600;
   font-size: 34px;
   color: black;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   will-change: transform;
}

.root :global(.hex-back) {
   pointer-events: auto;
}

.root :global(.hex-back):hover {
   filter: brightness(93%);
}

.default :global(.hex-back) {
   fill: var(--grey-button-color);
}

.default :global(.hex-border) {
   fill: #000000;
   fill-opacity: 0.2;
}

.middle :global(.hex-back) {
   fill: var(--yellow-color);
}

.middle :global(.hex-border) {
   fill: #000000;
   fill-opacity: 0.2;
}

.bonus :global(.hex-back) {
   fill: var(--grey-button-color);
}

.bonus :global(.hex-border) {
   fill: var(--bonus-border);
   fill-opacity: 1;
}

.resting {
   transform-origin: center;
   transform: scale(1);
}

@keyframes growAndShrink {
   0% {
      transform: scale(1); /* Start with normal scale */
   }
   20% {
      filter: brightness(110%);
      transform: scale(1.14); /* Grow to 1.5 times the normal scale */
   }
   100% {
      transform: scale(1); /* Return to normal scale */
   }
}

.grow-shrink {
   z-index: 10;
   animation: growAndShrink 0.2s ease-in-out; /* Animation duration: 0.5 seconds */
   transform-origin: center; /* Set the transform origin to the center */
}
