.background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 0;
}

.button-svg-icon {
   fill: var(--yellow-color);
}

.bonus-score .hex-panel-back {
   fill: white;
}
