:root {
   --grey-button-color: #e2e2e2;
   --yellow-color: #f2aa2e;
   --dark-yellow-color: #da9929;
   --bonus-border: #36bca9;
}

#root {
   display: block;
   width: 100vw;
   height: 100vh;
}

.background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 0;
}

.button-svg-icon {
   fill: var(--yellow-color);
}

.bonus-score .hex-panel-back {
   fill: white;
}
