:root {
   --grey-button-color: #e2e2e2;
   --yellow-color: #f2aa2e;
   --bonus-border: #36bca9;
}

#root {
   width: 100%;
   display: flex;
}

.gamescreen-wrapper {
   width: 100%;
   max-width: 900px;
   margin-left: auto;
   margin-right: auto;
}
