@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: white;
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --grey-button-color: #e2e2e2;
   --yellow-color: #f2aa2e;
   --dark-yellow-color: #da9929;
   --bonus-border: #36bca9;
   --bonus-color: #36bca9;
}

body {
   margin: 0;
   display: flex;
   min-width: 320px;
   min-height: 100vh;
}

button {
   font-size: inherit;
}

#root {
   display: block;
   width: 100vw;
   height: 100vh;
   min-width: 300px;
   min-height: 300px;

   max-height: 100vh; /* Fallback for browsers that don't support env() */
   max-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));

   /* min-height: 533px; */
   user-select: none;
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.roboto-condensed {
   font-family: "Roboto Condensed", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

.roboto-slab {
   font-family: "Roboto Slab", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
